# Discord API bot token
DISCORD_TOKEN="[DISCORD API BOT TOKEN]"

# Bot parameters
BOT_LOG_CHANNEL_ID=[DISCORD CHANNEL ID]
BOT_HOME_GUILD_ID=[DISCORD GUILD ID]

# Postgres database configuration variables
POSTGRES_HOST="[POSTGRES HOST]"
POSTGRES_PORT="[POSTGRES PORT]"
POSTGRES_DB="[POSTGRES DATABASE NAME]"
POSTGRES_USER="[POSTGRES USERNAME]"
POSTGRES_PASSWORD="[POSTGRES PASSWORD]"

# Last.fm API credentials
LASTFM_KEY="[LAST.FM API KEY]"
LASTFM_SECRET="[LAST.FM SECRET]"

# Twitter API credentials
TWITTER_CONSUMER_KEY="[TWITTER API CONSUMER KEY]"
TWITTER_CONSUMER_SECRET="[TWITTER API SECRET]"

# Patreon API credentials
PATREON_CAMPAIGN_ID="[PATREON CAMPAIGN ID]"
PATREON_ACCESS_TOKEN="[PATREON API ACCESS TOKEN]"
PATREON_REFRESH_TOKEN="[PATREON API REFRESH TOKEN]"
PATREON_SECRET="[PATREON API SECRET]"
